<p>
  Here you find can find about a few informations about me
</p>

<h1>Gregory GERARD</h1>
<h2>Education</h2>
<ul>
  <li>2000 High School Diploma Diploma in sciences</li>
  <li>2003 2 years technical degree Computing management – speciality in network administration.</li>
  <li>2007 Epitech Master Expert in Computing Technologies</li>
  <li>2011 Pearson View Zend Certified Engineer</li>
</ul>

<h2>Carier</h2>
<ul>
  <li>Juil. 01 to Juil. 2003 Adim</li>
  <li>Nov. 2004 to Nov. 2007 iEurop</li>
  <li>Nov. 2007 to Sept. 2008 Sedona - Orange - BNP Paribas</li>
  <li>Sept. 2008 to Sept. 2009 Ausy France - Crédit Agricole</li>
  <li>Nov. 2011 to May 2011 Ausy Luxembourg - Kapia Solution - Duval Guillaume</li>
  <li>Nov. 2014 to May 2017 InsideBoad</li>
  <li>Feb 2012 to Feb 2018 Wister SAS</li>
  <li>Since March 2018 Interenchere</li>
</ul>
