<h2>My Heroes</h2>

<div fxFill fxLayout="column" fxLayoutAlign="space-between">
  <mat-paginator [length]="paginatorInfos.total"
                 [pageSize]="paginatorInfos.count"
                 [pageIndex]="paginatorInfos.pageIndex"
                 [pageSizeOptions]="[20, 50, 100]"
                 (page)="pageEvent = getServerData($event)">
  </mat-paginator>

  <div fxLayout="row wrap">
    <ng-container *ngFor="let hero of heroes">
<!--      <div id="hero-presentation">-->
      <mat-card class="example-card">
        <mat-card-header>
<!--          <div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title class="example-card-title">{{hero.name}}</mat-card-title>
<!--          <mat-card-subtitle>{{hero.description}}</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <mat-card-title></mat-card-title>
        </mat-card-content>
        <img mat-card-image src="{{ hero.thumbnail.path}}/portrait_xlarge.{{hero.thumbnail.extension}}" />
      </mat-card>
<!--      </div>-->
    </ng-container>
  </div>

  <mat-paginator [length]="paginatorInfos.total"
                 [pageSize]="paginatorInfos.count"
                 [pageIndex]="paginatorInfos.pageIndex"
                 [pageSizeOptions]="[20, 50, 100]"
                 (page)="pageEvent = getServerData($event)">
  </mat-paginator>

</div>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
