<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
       [class.selected]="hero === selectedHero"
       (click)="onSelect(hero)">
    <div>
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <span>{{hero.description}}</span>
      <span>{{hero.modified}}</span>
      <span>{{hero.resourceURI}}</span>
      <span><img src="{{ hero.thumbnail.path}}/portrait_xlarge.{{hero.thumbnail.extension}}" /></span>
    </div>
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
